.aqForm table {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.aqLabelColumn {
    vertical-align: top;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aqLabelColumn td, .aqLabelColumn {
    color: #333333;
    font-weight: bold;
}

.aqValueColumn {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aqValueColumn input, .aqValueColumn textArea, .aqValueColumn select {
    width: 400px;
}

.aqRequired {
    color: red;
    font-weight: bold;
    font-size: 22px;
}

.aqBtnVote2{
	background: url(btn_vote.gif);
	border:medium none;
	height:30px;
	width:80px;
}

.aqBtnVote {
    background: url(btn_vote.gif) no-repeat;

    height: 25px;
    width: 127px;
    border: 0px;
    text-align: left;
    padding-left: 12px;
    padding-bottom: 4px;
    padding-top: 4px;

    display: block;

    font-size: 12px;

    font-weight: bold;
    color: #fff;

    float: left;
}

.aqErrorMessage {
    font-weight: bold;
    color: red;    
}

.successMessage {
    display: block;
    padding-bottom: 30px;
    font-weight: bold;
}

.notSuccessMessage {
    display: block;
    color:red;
    padding-bottom: 30px;
    font-weight: bold;
}

.aqInfoMessage{
    font-size: 13px;
	color: gray;
	display: block;
}